footer {
  margin-top: auto;
  .footer-container {
    background-color: $dark-green;
    color: $dark-brown;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    @media screen and (min-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
      text-align: unset;
    }
    .legal-links {
      @media screen and (min-width: 576px) {
        order: 1;
      }
    }
    .page-title {
      font-size: 1.25rem;
      text-align: center;
      @media screen and (min-width: 576px) {
        order: 2;
      }
    }
    .social-links {
      @media screen and (min-width: 576px) {
        justify-self: end;
        order: 3;
      }
    }
    .copyright {
      @media screen and (min-width: 576px) {
        order: 4;
      }
    }
    .footer-stack:not(.social-links) {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (min-width: 576px) {
        align-items: flex-start;
      }
    }
    .footer-link {
      text-decoration: none;
      color: $vibrant-yellow;
      max-width: max-content;
      &:hover {
        color: $soft-yellow;
      }
    }
    ion-icon {
      font-size: 2rem;
    }
  }
}
