header {
  .header-banner {
    min-height: 100px;
    background-color: $dark-green;
    background-image: url("../images/egg-shell.png");
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
      color: $vibrant-yellow;
      font-size: 4rem;
      line-height: 50%;
      padding: 1rem;
    }
  }
}
