.hero {
  height: 500px;
  .hero-banner {
    height: 100%;
    background: $light-green url("../images/muir_woods.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-title {
      font-size: 3rem;
      color: $soft-yellow;
      text-align: center;
      text-shadow: 0 1px 2px $brown;
    }
  }
}
