.hero {
  height: 50vh;
  .hero-banner {
    height: 100%;
    background: $light-green url("../images/muir_woods.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-title {
      font-size: 3rem;
      text-align: center;
      padding: 0.5rem;
      h1 {
        color: $vibrant-yellow;
        background-color: $transparent-brown;
        border-radius: 0.5rem;
        padding: 0.5rem 2rem;
      }
    }
  }
}
