html {
  box-sizing: border-box;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  background-color: lightgray; // CSS is working
}
header {
  .header-banner {
    background-color: darkblue;
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
      color: lightgray;
      padding: 20px;
    }
  }
}
.hero {
  height: 500px;
  .hero-banner {
    height: 100%;
    background: lightblue url("https://placekitten.com/1400/600") no-repeat
      center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-title {
      font-size: 3rem;
      color: white;
      text-align: center;
    }
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .footer-container {
    background-color: darkslateblue;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .footer-left-column {
      justify-self: start;
    }
    .footer-center-column {
      justify-self: center;
      text-align: center;
    }
    .footer-right-column {
      justify-self: end;
    }
    .footer-link {
      text-decoration: none;
      color: white;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 1);
      }
    }
  }
}
