@import "utilities/colors";
@import "utilities/fonts";
@import "components/header";
@import "components/hero";
@import "components/cards";
@import "components/footer";

html {
  box-sizing: border-box;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  background-color: scale-color($brown, $lightness: 80%);
  color: $brown;
  display: flex;
  flex-direction: column;
  margin: 0;
  #no-script-info {
    padding: 2rem;
  }
}
.button {
  width: 5rem;
  height: 2rem;
  background-color: $vibrant-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 3px 3px -3px $dark-brown;
  cursor: pointer;
  &:hover {
    background-color: $orange;
    @include hover-fade;
  }
  a {
    color: $brown;
    text-decoration: none;
  }
}
